@import "tailwindcss";

:root {
  --venomai-primary: #125169;
  --venomai-secondary: #084860;
  --venomai-accent: #2B7188;
  --venomai-dark-gray: #484848;
  --venomai-gray: #808080;
  --venomai-white: #FFFFFF;
  --venomai-background: #101418;

  --font-heading: "Rajdhani", sans-serif;
  --font-alt-heading: "Oxanium", sans-serif;
  --font-body: "Inter", sans-serif;

  --background: var(--venomai-background);
  --foreground: var(--venomai-white);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--venomai-primary);
  --color-secondary: var(--venomai-secondary);
  --color-accent: var(--venomai-accent);
  --color-gray: var(--venomai-gray);
  --color-dark-gray: var(--venomai-dark-gray);
  --font-sans: var(--font-body);
  --font-heading: var(--font-heading);
  --font-alt: var(--font-alt-heading);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}
